<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tilas.mapper.OperateLogMapper">
    <select id="list" resultType="com.example.tilas.pojo.OperateLog">
        select ol.id,
               ol.operate_emp_id,
               e.name operate_emp_name,
               ol.operate_time,
               ol.class_name,
               ol.method_name,
               ol.method_params,
               ol.return_value,
               ol.cost_time
        from operate_log ol
                 left join emp e on ol.operate_emp_id = e.id
        order by ol.operate_time desc, ol.id desc
    </select>
</mapper>
